.card {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 282px;
  line-height: 29.05px;
}
.card__like-button {
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 50%;
}
.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 219px;
  margin: 0;
  max-width: 100%;
}

.card__like-button-active {
  background: url(../images/activate.svg);
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: relative;
  top: 40px;
  left: 240px;
  right: 60px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.cards__list {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 15px; /* Add space between cards */
  padding: 0;
  margin: 0;
  list-style: none;
}

.card__figure {
  display: inline-block;
  text-align: center;
  margin: 20px;
}
.card__figcaption {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

