.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
}
.footer__name {
  margin: 0;
  font-size: 18px;
  color: #545454;
  line-height: 21.78px;
}
@media screen and (max-width: 480px) {
  .footer__name {
    font-size: 14px;
    margin-left: 19px;
    width: 100%;
    line-height: 16.94px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .footer{
  align-items: center;
  display: grid;
  justify-items: center;
  }
}
