.header {
  margin-top: 45px;
  max-width: 880px;
  height: 74px;
  border-bottom:solid #545454 1px;
}
.header__logo {
  max-width: 173px;
}
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    align-items: baseline;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .header__logo {
    max-width: 126px;
    height: 24px;
  }
}
