.header {
  margin-top: 45px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: solid hsla(0, 0%, 33%, 0.7) 1px;
}
.header__logo {
  max-width: 173px;
}
@media screen and (max-width: 760px) {
  .header__logo {
    max-width: 126px;
    min-height: 24px;
    width: 100%;
    align-items: baseline;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  .header {
    margin: 0;
    padding: 0;
  }
}
